body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container > *:not(.footer-container) {
  flex: 1;
}

button {
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

input, textarea {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}
.m-auto {
  margin: 0 auto;
}